body {
    margin: 0;
    padding: 0;
}
#slider {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    position: relative;
}
#slides {
    background: #fff;
    padding: 5px;
    box-shadow: 2px 2px 4px #333, inset 1px 1px 0 #ddd;
    border-radius: 5px;
}
.inner {
    width: 500%;
}
.inner:after {
    content:"";
    display: block;
    height: 0;
    clear: both;
}
.page {
    float: left;
    width: 20%;
    position: relative; /* this */
}
.page img {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: auto;
    width: 100%;
}
.overflow {
    overflow: hidden;
}

 .title-slides {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    /*height: 60px;*/
    position: absolute;
    z-index: 1;
    top:0;
    left: 0;
    opacity: 0.8;
}
.title {
    color: #fff;
    font-size: 24px;
    font-weight: 30px;
    line-height: 60px;
    padding: 10px 0 10px 20px;
}

input[value="prev"],
input[value="next"] {
    position: absolute;
    opacity: 0;
    top: 5px;
    bottom: 5px;
    width: 50%;
    background: rgba(0,0,0,.5);
    color: #fff;
    border: none;
    outline: none;
}
input[value="next"] {
    right: 5px; 
}
input[value="prev"] {
    left: 5px;
}
input[value="prev"]:hover,
input[value="next"]:hover {
    opacity: 1;
}